@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url(fonts/gilroyextrabold-webfont.woff2) format('woff2'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('fonts/gilroylight-webfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url(fonts/opensans-regular-webfont.woff2) format('woff2'),
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    
    background-color: #ffffff;
    
}

.main-header {
    background-color: rgba(240,197, 46, 0.5);
    
    width: 1160px;
    height: 300px;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-style: normal;
    color: #000000
}

.button {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    
    background-color: transparent;
    
    border: none;
    
    width: 160px;
    height: 40px;
}

.logo-header {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    
    order: -1;
}

.user_block {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    
    width: 1040px;
    height: 25px;
    
    margin: 0;
    padding: 60px;
    
    display: flex;
    justify-content: space-between;
}

.user_block-search {
    width: 440px;
    height: 25px;
    
    margin: 0;
    padding: 0;
}

.user_block-log_in {
    width: 280px;
    height: 25px;
    
    margin: 0;
    padding: 0;
}

.user_block-match_cart {
    width: 220px;
    height: 25px;
    
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
}

.main-navigation-menu {
    width: 1040px;
    height: 25px;
    
    margin: 0;
    padding-top: 50px;
    padding-bottom: 165px;
    
    display: flex;
    flex-direction: row;
}

.main-navigation-menu-catalog {
    width: 520px;
}

.main-navigation-menu-wrapper {
    width: 300px;
    
    display: flex;
    justify-content: space-between;
}

.main-navigation-menu-contacts {
    padding-left: 100px;
    width: 120px;
}

.main-navigation-menu,
.main-navigation-cataloglist,
.user_block,
.popular,
.main-container-slider ul,
.manufacturer,
.main-footer ul,
.services-navigation {
    list-style: none;
}

.main-navigation-menu a{
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.main-navigation-cataloglist a{
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 36px;
}

.logo-header p:hover,
.user_block a:hover,
.main-navigation a:hover{
    color: rgba(0, 0, 0, 0.6);
}

.search-button {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 36px;
}
.search-button:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.search-button:active {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.3);
}

.logo-header p:active,
.user_block a:active,
.main-navigation a:active{
    color: rgba(0, 0, 0, 0.3);
}

.main-container-slider {
    margin: 0;
    padding: 0;
    
    width: 1200px;
    heigh: 520px;
}

.slide-one {
    margin: 0;
    padding: 0;
    
    display: flex;
}

.slide_one {
    margin: 0;
    padding-left: 125px;
    padding-top: 50px;
    
    display: flex;
    flex-direction: column;
}

.slide-info {
    padding-top: 40px;
}

.slide-item-spec {
    padding-top: 60px;
}

.slide-item-spec-name {
    padding-top: 20px;
}

.slide-one .button {
    padding-top: 60px;
}

.main-container-slider b{
    color: #ffffff;
}

.main-container-slider h2{
    font-family: "gilroyextrabold";
    font-size: 47px;
    line-height: 56px;
}

.main-container-slider p{
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
}

.main-container-slider .slide-item-spec-value{
    font-family: "gilroylight";
    font-size: 36px;
    line-height: 48px;
}

.main-container-slider .slide-item-spec-name{
    font-family: "open_sanslight";
    font-size: 20px;
    line-height: 10px;
}

.popular {
    margin: 0;
    padding-top: 100px;
    
    display: flex;
    justify-content: space-between;
    
    width: 1200px;
    height: 255px;
}
.popular a{
    font-family: font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
}

.services {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    background-color: rgb(229, 229, 229);
    
    width: 1200px;
    height: 320px;
    
    display: flex;
    
    padding-top: 80px;
}

.services h3, 
.main-container-info h3{
    font-family: font-family: "gilroyextrabold";
    font-size: 47px;
    line-height: 48px;
}

.services-navigation {
    font-family: font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-between;
    
    width: 160px;
    height: 170px;
}
.services-delivery {
    padding-left: 240px;
}

.manufacturer {
    display: flex;
    justify-content: space-between;
    
    padding-top: 240px;
    
    height: 100px;
    width: 1200px;
    
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.manufacturer:hover{
    opacity: 1;
    filter:none;
    
}

.main-container-info {
    display: flex;
    
    width: 1200px;
    
    padding-top: 80px;
}

.info-about_us {
    width: 480px;
    height: 600px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-contacts {
    padding-left: 140px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container-info p{
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
}

.write_us p{
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
}

.about-companys {
    font-family: "gilroyextrabold";
    font-size: 16px;
    line-height: 40px;
}

.write_us-item input::placeholder {
    font-family: "open_sansregular";
    font-size: 14px;
    line-height: 18px;
}

.write_us-item textarea::placeholder {
    font-family: "open_sansregular";
    font-size: 14px;
    line-height: 18px;
}

.main-footer {
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    
    width: 1200px;
    height: 280px;
    margin-top: 65px;
    margin-left: 20px;
    padding-top: 80px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-userblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-user_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 340px;
    height: 20px;
    padding-left: 620px;
}

.main-footer a{
    color: rgb(255, 255, 255);

}

.logo-footer {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: rgb(255, 198, 0);
    
    margin: 0;
    padding: 0;
}

.logo-footer:hover {
    opacity: 0.6;
}

.logo-footer:active {
    opacity: 0.3;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-navigation a{
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    
    width: 1200px;
    height: 60px;
    
}

.footer-navigation a:hover{
    color: rgba(255, 255, 255, 0.7);
}

.footer-navigation a:active{
    color: rgba(255, 255, 255, 0.3);
}

.footer-userblock a{
    color: rgba(255, 255, 255, 0.7);
}

.footer-userblock a:hover {
    color: rgba(255, 255, 255, 1.0);
}

.footer-userblock a:active {
    color: rgba(255, 255, 255, 0.3);
}

