@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
    
}

.container {
    width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
    background-color: rgba(240,197, 46, 0.5);
       
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
    
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-style: normal;
    color: #000000;
    
    padding: 0;
    margin: 0;
        
}

.button {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    
    background-color: transparent;
    
    margin: 0;
    padding: 0;    
    
    display: inline-block;
    
    border: none;
    
}

.logo-header {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
        
    position: absolute;
    
    margin: 0;
    margin-left: 60px;
    padding: 0;
    margin-top: -25px;
}

.user_block {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    
    display: flex;
    align-items:center;
    
    position: relative;
    
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

.user_block-search {
    width: 440px;
    
    margin-left: 100px;
    margin-right: 60px;
    
    padding: 0;
}

.search-form {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.3);
    
    margin-bottom: 40px;
    
    width: 350px;
    
    border: none;
    
    background-color: transparent;
    
    position: relative;
    
    outline: 0;
}

.user_block-search::before {
    content: "";
  
    position: absolute;
    top: 13px;
    left: 63px;
    
    
    width: 16px;
    height: 16px;
  
    background-image: url("../img/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.search-form:hover{
    color: rgba(0, 0, 0, 0.6);
}

.search-form:focus {
    border-bottom: 2px solid;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    color: rgba(0, 0, 0, 1);
    
/*    -webkit-transition: width 0.4s ease-in-out;*/
/*    transition: width 0.4s ease-in-out;*/
    
}

.user_block-log_in {
    position: relative;
    
    display: inline-block;
    
    margin: 0;
    padding: 0;
    margin-right: 200px;
    margin-bottom: 40px;
    
    width: 80px;
}

.user_block-log_in:hover,
.user_block-compare:hover,
.user_block-cart:hover,
.main-navigation-menu-catalog:hover,
.menu-delivery:hover,
.menu-warranty:hover,
.menu-contacts:hover {
    opacity: 0.6;
}

.user_block-log_in:active,
.user_block-compare:active,
.user_block-cart:active,
.menu-delivery:active,
.menu-warranty:active,
.menu-contacts:active {
    opacity: 0.3;
}

.user_block-log_in::before {
    content: "";
    
    position: absolute;
    top: 9px;
    left: -22px;        
        
    width: 15px;
    height: 15px;
  
    background-image: url("../img/icons/user-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user_block-log_in:hover::before,
.user_block-compare:hover::before,
.user_block-cart:hover::before {
    opacity: 0.6;
}

.user_block-log_in:active::before, 
.user_block-compare:active::before,
.user_block-cart:active::before {
    opacity: 0.3;
}

.user_block-wrapper {
    display: flex;
    justify-content: space-between;
    
    position: relative;
    
    margin-bottom: 40px;
    
    width: 220px;
}

.user_block-compare::before{
    content: "";
    
    position: absolute;
    top: 10px;
    left: -15px;        
        
    width: 10px;
    height: 10px;
  
    background-image: url("../img/icons/compare-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user_block-cart::before {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 141px;        
        
    width: 12px;
    height: 12px;
  
    background-image: url("../img/icons/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-navigation-menu {        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: relative;
    
    padding: 0;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 165px;
}

.menu-catalog {
    width: 300px;
    
    margin-right: 220px;
}

.main-navigation-menu::after {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 230px;        
        
    width: 16px;
    height: 16px;
  
    background-image: url("../img/icons/catalog-plus-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.main-navigation-wrapper {
    width: 300px;
    
    margin: 0;
    padding: 0;
    padding-right: 100px;
    
    display: flex;
    
    align-items: center;
}

.menu-catalog a:hover{
    color: rgba(0, 0, 0, 0.6);    
}

.menu-catalog a:active{
    color: rgba(0, 0, 0, 0.3);    
}

.main-navigation-wrapper a{
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

.menu-catalog a,
.menu-contacts a {
    margin: 0;
    padding: 0;
}

.main-navigation-menu,
.main-navigation-cataloglist,
.user_block,
.popular,
.main-container-slider ul,
.manufacturer,
.main-footer ul,
.services-navigation,
.main-container-sorting-criterion ul,
.arrows ul,
.main-container-items-list,
.pagination,
.main-container-bluetooth ul {
    list-style: none;
}

.main-navigation-menu a{
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.main-navigation-cataloglist a{
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 36px;
}

.logo-header:hover {
    color: rgba(0, 0, 0, 0.6);
}

.search-button {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 36px;
}
.search-button:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.search-button:active {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.3);
}

.logo-header:active,
.user_block:active,
.main-navigation a:active{
    color: rgba(0, 0, 0, 0.3);
}

.main-container-slider {
    margin: 0;
    margin-top: -130px;
    padding: 0;
    
    position: relative;
    
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: 100px;  
}

.main-container-slider b{
    font-family: "gilroyextrabold";
    font-size: 179px;
    line-height: 179px;
    color: rgb(0, 0, 0)
}

.slide-image {
    margin-right: 80px;
}

.slider {
    margin: 0;
    padding: 0;
        
    display: flex;
}

.slide_content {
    margin: 0;
    
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.slide-content b{
    margin: 0;
    padding: 0;
    
    position: absolute;
    
    right: 10px;
    top: -5px;
}

.slide-content::before {
    content: "";
    
    position: absolute;
    top: 50px;
    
    width: 100px;
    height: 7px;
        
    background-color: rgb(255, 255, 255);
}

.slide-head {
    margin: 0;
    margin-bottom: 35px;
    margin-top: 85px;
    padding: 0;
}

.slide-info {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.slide-more-info {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.slide-item-spec {    
    width: 460px;
    
    margin: 0;
    padding: 0;
}

.slide-item-spec-name{
    padding: 0;
    margin: 0;
}

.slide-item-spec-name td{    
    font-family: "open_sanslight";
    font-size: 13px;
    line-height: 20px;
    
    padding: 0;
    margin: 0;
}

.main-container-slider b{
    color: #ffffff;
}

.main-container-slider h2{
    font-family: "gilroyextrabold";
    font-size: 47px;
    line-height: 56px;
}

.main-container-slider p{
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
}

.main-container-slider .slide-item-spec-value{
    font-family: "gilroylight";
    font-size: 36px;
    line-height: 48px;
    
    padding: 0;
    margin: 0;
}

.main-container-slider .slide-item-spec-name{
    font-family: "open_sanslight";
    font-size: 20px;
    line-height: 10px;
    
    padding: 0;
    margin: 0;
}

.popular {
    height: 240px;
    
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 180px;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
    align-items:flex-end
    
}

.popular-block {
    margin-bottom: 35px;
    
    display: block;
    
    width: 160px;
    height: 160px;
    
    background-color: rgba(240, 197, 46, 0.5);
}

.popular li {
    width: 160px;
    height: 240px;
}

.popular p{
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    
    margin: 0;
    padding: 0;
}

.virtual-reality,
.monopods,
.cameras,
.wristbands,
.smart-watch,
.quadrupter {
    position: relative;
}

.virtual-reality::after{
    content: "";
    
    position: absolute;
    top: 50px;
    left: 30px;        
        
    width: 97px;
    height: 55px;
  
    background-image: url("../img/icons/vr-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
}

.monopods::after{
    content: "";
    
    position: absolute;
    top: 40px;
    left: 40px;        
        
    width: 86px;
    height: 117px;
  
    background-image: url("../img/icons/monopods-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cameras::after{
    content: "";
    
    position: absolute;
    top: 37px;
    left: 50px;        
        
    width: 71px;
    height: 87px;
  
    background-image: url("../img/icons/cameras-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.wristbands::after{
    content: "";
    
    position: absolute;
    top: 50px;
    left: 28px;        
        
    width: 107px;
    height: 65px;
  
    background-image: url("../img/icons/wrisbands-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.smart-watch::after{
    content: "";
    
    position: absolute;
    top: 32px;
    left: 55px;        
        
    width: 56px;
    height: 98px;
  
    background-image: url("../img/icons/smart-watch-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.quadrupter::after{
    content: "";
    
    position: absolute;
    top: 48px;
    left: 18px;        
        
    width: 132px;
    height: 69px;
  
    background-image: url("../img/icons/quadrupter-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.virtual-reality span:hover,
.monopods span:hover,
.cameras span:hover,
.wristbands span:hover,
.smart-watch span:hover,
.quadrupter span:hover{
    background-color: rgba(240, 197, 46, 1);
}

/* Оставлю на потом
.virtual-reality span:active,
.monopods span:active,
.cameras span:active,
.wristbands span:active,
.smart-watch span:active,
.quadrupter span:active{
    background-color: rgba(240, 197, 46, 1);
}
*/

.services {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    background-color: rgb(229, 229, 229);
    
    margin-bottom: 100px;
    
    position: relative;
}


.services h3, 
.main-container-info h3{
    font-family: "gilroyextrabold";
    font-size: 47px;
    line-height: 48px;
    
    margin: 0;
    padding: 0;
}

.services h3 {
    position: relative;
    top: -25px;
    
    margin-bottom: 40px;
}

.services p{
    margin: 0;
    padding: 0;
}

.services-navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
    top: -15px;
    
    width: 160px;
    height: 190px;
    
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 125px;
    margin-right: 220px;
}

.services-delivery {
    width: 440px;
    height: 175px;
    
    position: relative;
    
    margin: 0;
    margin-right: 20px;
    padding: 0;
}

.services-navigation::after {
    content: "";
    
    position: absolute;
    top: -100px;
    left: 280px;
    
    width: 7px;
    height: 319px;
    
    background-color: rgb(0, 0, 0);
}

.services-delivery::after {
    content: "";
    
    position: absolute;
    top: -15px;
    left: 560px;        
        
    width: 136px;
    height: 164px;
  
    background-image: url("../img/icons/delivery-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-wrapper {
    display: flex;
    flex-direction: row;
}

.manufacturer {
    display: flex;
    justify-content: space-between;
    
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 150px;
}

.manufacturer-item{
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.manufacturer-item:hover{
    opacity: 1;
    filter:none;
    
}

.main-container-info {
    display: flex;
    justify-content: space-between;
    
    position: relative;
    
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
    padding: 0;
}

.info-about_us {
    width: 480px;
    
    margin-right: 120px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-about_us h3::before {
    content: "";
    
    position: absolute;
    top: -50px;
    
    width: 80px;
    height: 7px;
    
    background-color: rgb(0, 0, 0);
}

.info-contacts {
    width: 560px;
}

.info-about_us h3{
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.info-about_us p{
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    
    padding: 0;
    margin: 0;
}

.info-contacts {
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.info-contacts h3{
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.info-contacts h3::before {
    content: "";
    
    position: absolute;
    top: -50px;
    
    width: 80px;
    height: 7px;
    
    background-color: rgb(0, 0, 0);
}

.info-contacts p{
    
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
}


.write_us p{
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    
    padding: 0;
    margin: 0;
}

.about-companys {
    font-family: "gilroyextrabold";
    font-size: 16px;
    line-height: 40px;
    
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 0px;
}

.info-about_us .button {
    margin: 0;
    padding: 0;
    margin-left: 20px;

}

.write_us-item input::placeholder {
    font-family: "open_sansregular";
    font-size: 14px;
    line-height: 18px;
}

.write_us-item textarea::placeholder {
    font-family: "open_sansregular";
    font-size: 14px;
    line-height: 18px;
}

/*-----------СТИЛЬ ДЛЯ ФУТЕРА----------------*/

.main-footer {
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-left: 20px;
    padding-right: 20px;
}

.footer-userblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: relative;
    
    padding: 0;
    padding-top: 60px;
    margin: 0;
    margin-bottom: 35px;
}

.footer-userblock::before {
    content: "";
    
    position: absolute;
    top: 248px;
    
    width: 80px;
    height: 7px;
    
    background-color: rgb(255, 198, 0);
}

.footer-user_interaction a{
    display: inline-block;
    position: relative;
}

.footer-user_interaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 340px;
    
    margin: 0;
    padding: 0;
    margin-left: 620px;
}

.footer-login-link::after {
    content: "";
    
    position: absolute;
    top: 10px;
    left: -20px;        
        
    width: 13px;
    height: 12px;
  
    background-image: url("../img/icons/user-icon-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-match-link::after {
    content: "";
    
    position: absolute;
    top: 10px;
    left: -20px;        
        
    width: 13px;
    height: 12px;
  
    background-image: url("../img/icons/compare-icon-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-cart-link::after {
    content: "";
    
    position: absolute;
    top: 10px;
    left: -20px;        
        
    width: 13px;
    height: 12px;
  
    background-image: url("../img/icons/cart-icon-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-footer a{
    color: rgb(255, 255, 255);
}

.logo-footer {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: rgb(255, 198, 0);
    
    margin: 0;
    padding: 0;
}

.logo-footer:hover {
    opacity: 0.6;
}

.logo-footer:active {
    opacity: 0.3;
}

.footer-navigation {
    display: flex;
    align-items: center;
    
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    margin-left: 160px;
    margin-right: 200px;
    padding: 0;
    
    width: 440px;
}

.footer-navigation a{
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    margin: 0;
    padding: 0;
}

.social {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    width: 160px;
}

.footer-links {
    margin-bottom: 70px;
    margin-left: 500px;
    margin-right: 470px;
}


.facebook,
.instagram,
.twitter {
    display: inline-block;
    position: relative;
    
    width: 32px;
    height: 32px;
    
    opacity: 0.3;
}

.facebook::before {
    content: "";
    
    position: absolute;       
        
    width: 32px;
    height: 32px;
  
    background-image: url("../img/icons/facebook-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.instagram::before {
    content: "";
    
    position: absolute;      
        
    width: 32px;
    height: 32px;
  
    background-image: url("../img/icons/instagram-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.twitter::before {
    content: "";
    
    position: absolute;      
        
    width: 32px;
    height: 32px;
  
    background-image: url("../img/icons/twitter-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.html-academy {
    position: relative;
    left: 650px;
    top: -35px;
    
    width: 27px;
    height: 35px;
    
}

.facebook:hover::before,
.instagram:hover::before,
.twitter:hover::before {
    opacity: 1;
}

.html-academy::after {
    content: "";
    
    position: absolute;      
        
    width: 27px;
    height: 35px;
  
    background-image: url("../img/icons/logo-html-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.footer-navigation a:hover{
    color: rgba(255, 255, 255, 0.7);
}

.footer-navigation a:active{
    color: rgba(255, 255, 255, 0.3);
}

.footer-userblock a{
    color: rgba(255, 255, 255, 0.7);
}

.footer-userblock a:hover {
    color: rgba(255, 255, 255, 1.0);
}

.footer-userblock a:active {
    color: rgba(255, 255, 255, 0.3);
}

/*-----------СТИЛЬ ДЛЯ КАТАЛОГА----------------*/

.main-content {
    padding-left: 20px;
    padding-right: 20px;
}

.breadcrumbs {
    margin: 0;
    margin-left: 60px;
    margin-bottom: 50px;
    padding: 0;
}

.breadcrumbs-wrapper {    
    display: flex;
    justify-content: space-between;
    width: 385px;
    
    position: relative;
}

.breadcrumbs-wrapper::before {    
    content: "";
    
    position: absolute;
    top: 9px;
    left: 70px;
        
    width: 4px;
    height: 7px;
  
    background-image: url("../img/icons/nav-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs-wrapper::after {    
    content: "";
    
    position: absolute;
    top: 9px;
    left: 220px;
        
    width: 4px;
    height: 7px;
  
    background-image: url("../img/icons/nav-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs h1{
    font-family: "gilroyextrabold", sans-serif;
    font-size: 47px;
    line-height: 48px;
    
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.breadcrumbs a{
    font-family: "open_sanslight", sans-serif;
    font-size: 14px;
    line-height: 24px;
    
    margin: 0;
    padding: 0;
    
    color: rgba(0, 0, 0, 0.3);
}

.main-container-sorting {    
    background-color: rgba(0, 0, 0, 0.08);
    
    margin: 0;
    margin-left: 60px;
    padding: 0;
    display: flex;
}

.main-container-filter {
    background-color: rgba(0, 0, 0, 0.08);
    background-blend-mode: normal;
           
    font-family: "gilroyextrabold", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 185px;
       
}

.main-container-sort {
    margin: 0;
    padding: 0;
    margin-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 50px;
    
    font-family: "gilroyextrabold", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    
}

.main-container-sorting-criterion ul{
    display: flex;
    justify-content: space-between;
    
    box-sizing: border-box;
    
    width: 290px;
    
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    margin-right: 230px;
        
    font-family: "open_sansregular", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.main-container-sorting-criterion a{
    color: rgba(0, 0, 0, 0.3);
}

.arrows {
    width: 40px;
    
    margin: 0;
    margin-top: 34px;
    margin-bottom: 30px;
    padding: 0;
        
    display: flex;
    justify-content: space-between;
    
    position: relative;
}

.up::before {
    content: "";
    
    position: absolute;
    right: 30px;
        
    width: 11px;
    height: 10px;
  
    background-image: url("../img/icons/icon-up-dir-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.down::before {
    content: "";
    
    position: absolute;
    right: 1px;
        
    width: 11px;
    height: 10px;
  
    background-image: url("../img/icons/icon-down-dir-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-container-wrapper {
    display: flex;
    
    background-color: rgb(255, 255, 255);
}


.main-container-wrapper legend{
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    
    margin: 0;
    padding: 0;
}

.main-container-wrapper label{
    font-family: "open_sansregular", sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.01em;
    
    margin: 0;
    padding: 0;
}

.main-container-search {
    display: flex;
    
    padding-left: 60px;
    padding-top: 70px;
    padding-right: 165px;
    margin-right: 20px;
    
    background-color: rgba(0, 0, 0, 0.08);
}

.search-price {
    height: 140px;
    
    margin: 0;    
    padding: 0;
    
    position: relative;
}

.search-price::before{
    content: "";
    
    position: absolute;
    top: -10px;
        
    width: 201px;
    height: 2px;
    
    background-color: rgb(0, 0, 0)
}

.search-price b {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    
    padding: 0;
    margin: 0;
}


.main-container-color {
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    
    border: none;
    
    position: relative;
}

.main-container-color::before {
    content: "";
    
    position: absolute;
    top: -10px;
        
    width: 201px;
    height: 2px;
    
    background-color: rgb(0, 0, 0)
}

.main-container-color ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-container-color label{
    margin-left: 40px;
    
    font-family: "open_sanslight", sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.01em;
}

.main-container-bluetooth {
    border: none;
    
    padding: 0;
    margin: 0;
    
    position: relative;
}

.main-container-bluetooth::before {
    content: "";
    
    position: absolute;
    top: -10px;
        
    width: 201px;
    height: 2px;
    
    background-color: rgb(0, 0, 0)
}

.main-container-bluetooth label {    
    font-family: "open_sanslight", sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.01em;
}
.main-container-items-list {
    display: flex;
    flex-wrap: wrap;
    
    background-color: rgb(255, 255, 255);
}

.items-list {
    width: 360px;
    height: 460px;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    
    display: flex;
    flex-wrap: wrap;
}

.items-list h3 {    
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    
    margin: 0;
    padding: 0;
}

.items-list b {    
    font-family: "gilroylight", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: rgb(70, 70, 70);
    
    padding: 0;
    margin: 0;
}

.items-list a {
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
}

.pagination {    
    display: flex;
    justify-content: space-around;
    
    margin: 0;
    margin-left: 50px;
    margin-bottom: 80px;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination a{
    font-family: "gilroyextrabold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: rgb(70, 70, 70);
}


