@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
    
}

.container-header {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
}

.middle-container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 480px;
    padding-bottom: 180px;
    
    position: relative;
}

.container-bottom {
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 90px;
}

.container-services {
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.container-footer {
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 65px;
}

.container-catalog {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

img {
    max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
    text-decoration: none;
    font-style: normal;
    color: #000000;        
}

/*--------------СТИЛИ ДЛЯ ХЭДЕРА------------*/

.main-header {
    background-color: rgba(240,197, 46, 0.5);
       
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
    
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 165px;
}

.main-header-catalog {
    background-color: rgba(240,197, 46, 0.5);
       
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
    
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 60px;
}


.logo-header {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
        
    position: absolute;
    
    margin: 0;
    padding: 0;
    
    top: -25px;
}
.user_block {
    display: flex;
    
    margin-bottom: 45px;
}

.user_block-search {
    width: 440px;
    
    margin: 0;
    padding: 0;
    margin-right: 100px;
    
    position: relative;
}

.search-form {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.3);
    
    
    width: 355px;
    
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-right: 80px;
        
    border: none; 
    border-bottom: 2px solid;
    border-bottom-color: transparent;
    
    
    background-color: transparent;
    
    position: relative;
    
    outline: 0;
}

.user_block-search input:hover{
    color: rgba(0, 0, 0, 0.6);
}

.user_block-search input:focus {
    border-bottom: 2px solid;
    border-bottom-color: rgb(0, 0, 0);
    
    color: rgba(0, 0, 0, 1.0);
}

.search-button {
        
    position: absolute;
    top: -2px;
    left: 395px;
    
    background-color: transparent;
    border: none;
    border: 2px solid;
    border-color: transparent;
    color: transparent;
    
    width: 80px;
    
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
}

.search-form:focus + .search-button{
    background-color: transparent;
    border: none;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    
    width: 80px;
    
    box-sizing: border-box;
    
    padding-left: 10px;
    padding-right: 10px;
}

.search-form:focus + .search-button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.search-form:focus + .search-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.user_block-wrapper {
    display: flex;
    flex-direction: row;
}

.user-interaction {
    display: flex;
        
    position: relative;
    
    width: 280px;
    height: 20px;
    
    padding-left: 25px;
    
    box-sizing: border-box;
}

.user-interaction a{
    
}

.login-link {
    margin-right: 15px;
}

.logout-link {
    opacity: 0.3;
}

.logout-link:hover {
    opacity: 0.7;
}

.logout-link:active {
    opacity: 0.1;
}

.login-link::before {
    content: "";
    
    position: absolute;
    top: 9px;
    left: 0px;        
        
    width: 13px;
    height: 12px;
  
    background-image: url("../img/icons/user-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.compare-link {
    display: inline-block;
    
    position: relative;
    
    width: 100px;
    
    margin: 0;
    margin-right: 35px;
    padding: 0;
    padding-left: 25px;
    
    box-sizing: border-box;
}

.compare-link::before{
    content: "";
    
    position: absolute;
    top: 9px;
    left: 10px;        
        
    width: 10px;
    height: 10px;
  
    background-image: url("../img/icons/compare-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart-link {
    display: inline-block;
    
    position: relative;
    
    width: 85px;
    
    margin: 0;
    padding: 0;
    padding-left: 25px;
}

.cart-link::before {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 5px;        
        
    width: 12px;
    height: 12px;
  
    background-image: url("../img/icons/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link:hover,
.compare-link:hover,
.cart-link:hover {
    opacity: 0.6;
}

.login-link:active,
.compare-link:active,
.cart-link:active {
    opacity: 0.3;
}

.user_block-search::before {
    content: "";
  
    position: absolute;
    
    top: 7px;
    
    width: 16px;
    height: 16px;
  
    background-image: url("../img/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.user_block-log_in:hover,
.user_block-compare:hover,
.user_block-cart:hover,
.main-navigation-menu-catalog:hover,
.menu-delivery:hover,
.menu-warranty:hover,
.menu-contacts:hover {
    opacity: 0.6;
}

.user_block-log_in:active,
.user_block-compare:active,
.user_block-cart:active,
.menu-delivery:active,
.menu-warranty:active,
.menu-contacts:active {
    opacity: 0.3;
}

.user_block-log_in:hover::before,
.user_block-compare:hover::before,
.user_block-cart:hover::before {
    opacity: 0.6;
}

.user_block-log_in:active::before, 
.user_block-compare:active::before,
.user_block-cart:active::before {
    opacity: 0.3;
}

.catalog {
    position: relative;
    
    display: inline-block;
}

.catalog-options {
    display: none;
    
    height: 165px;
    width: 1200px;
    
    position: absolute;
    
    left: -60px;
    
    padding-left: 60px;
    
    margin: 0;
    
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.01em;
    
    background-color: rgb(247, 226, 150);
}

.catalog:hover .catalog-options {
    padding-top: 15px;
    padding-bottom: 45px;
    
    z-index: 2;
    
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

.catalog-options a {
    width: 190px;
    height: 30px;
    
    margin-right: 45px;
}

.catalog-options a:nth-child(5) {
    margin-bottom: 40px;
}

.menu-catalog {
    width: 255px;
    
    margin: 0;
    margin-right: 280px;
    padding: 0;
    padding-right: 30px;
    
    position: relative;
    
    border: none;
    
    background-color: inherit;
    
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.menu-catalog::after {
    content: "";
    
    position: absolute;
    right: 5px;
    top: 3px;
    
    width: 16px;
    height: 16px;
  
    background-image: url("../img/icons/catalog-plus-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.menu-catalog:hover {
    color: rgba(0, 0, 0, 0.6);
}

.menu-delivery,
.menu-warranty,
.menu-contacts {
    display: inline-block;
    
    margin: 0;
    padding: 0;
    
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.menu-delivery {
    margin-right: 35px;
}

.menu-warranty {
    margin-right: 110px;
}


.catalog-options a:hover{
    color: rgba(0, 0, 0, 0.6);    
}

.catalog-options a:active{
    color: rgba(0, 0, 0, 0.3);    
}

.main-navigation-menu,
.main-navigation-cataloglist,
.user_block,
.popular,
.main-container-slider ul,
.manufacturer,
.main-footer ul,
.services-navigation,
.main-container-sorting-criterion ul,
.arrows ul,
.main-container-items-list,
.pagination,
.main-container-bluetooth ul,
.navigation-list,
.about-companys {
    list-style: none;
}


.logo-header:hover {
    color: rgba(0, 0, 0, 0.6);
}

.logo-header:active,
.user_block:active,
.main-navigation a:active{
    color: rgba(0, 0, 0, 0.3);
}

/*--------------СТИЛИ ДЛЯ СЛАЙДЕРА------------*/

.main-container-slider {
    margin: 0;
    padding: 0;
    
    position: absolute;
    top: -130px;
    left: 15px;
     
}

.slide-image {
    padding: 0;
    margin-right: 30px;
        
    display: flex;
    justify-content: flex-start;
    
    box-sizing: border-box;
    
    min-width: 530px;
    min-height: 485px;
}

.slider {
    margin: 0;
    padding: 0;
    
    display: none;
}


.slider:nth-child(1) .slide-image {
    padding-left: 50px;
}

.slider:nth-child(2) .slide-image{
    padding-left: 80px;
}

.slider:nth-child(3) .slide-image{
    padding-top: 70px;
}

.slider-controls {
    position: absolute;
    
    width: 130px;
    height: 20px;
    
    top: 380px;
    left: 920px;
}

.slider-controls label {
    cursor: pointer;
    
    position: relative;
    
    display: inline-block;
    
    width: 14px;
    height: 14px;
    border-radius: 50%;
    
    margin: 0;
    padding: 0;
    padding: 10px;
    margin-right: 20px;
    
    box-sizing: border-box;
}

.slider-controls label::after{
    content: "";
    
    width: 14px;
    height: 14px;
    
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
    
    background-color: inherit;
    
    border: 1px solid;
    border-color: black;
    
    border-radius: 50%;
}

#product-selfie:checked ~ .slider-controls .slider-controls-item--selfie::before,
#product-fitness-wristbands:checked ~ .slider-controls .slider-controls-item--fitness-wristbands::before, 
#product-quadrupter:checked ~ .slider-controls .slider-controls-item--quadrupter::before {
    content: "";
  
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 2;
  
    width: 4px;
    height: 4px;
    margin: -4px;
  
    background-color: inherit;
    border: 1px solid;
    border-radius: 50%;
}

.slide-content {
    margin: 0;
    padding: 0;
    padding-top: 85px;
    
    max-width: 500px;
        
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.slide-content b{
    position: absolute;
    top: -10px;
    right: -60px;
            
    z-index: 0;
    
    color: #ffffff;
    
    padding: 0;
    margin: 0;
    
    font-family: "gilroyextrabold";
    font-size: 179px;
    line-height: 179px;
    color: rgb(255, 255, 255);
}

.slide-content::before {
    content: "";
    
    position: absolute;
    
    top: 40px;
    
    width: 100px;
    height: 7px;
        
    background-color: rgb(255, 255, 255);
}

.slide-head {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    
    z-index: 1;
    
    font-family: "gilroyextrabold";
    font-size: 47px;
    line-height: 56px;
}

.slide-info {
    margin: 0;
    padding: 0;
    
    margin-bottom: 60px;
}

.slide-more-info {
    display: block;
    align-items: center;
    
    position: relative;
    
    max-width: 220px;
    
    margin: 0;
    padding: 0;
    padding: 15px 40px;
    
    box-sizing: border-box;
    
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    margin-bottom: 65px;
}

.slide-more-info::before {
    content: "";
    
    position: absolute;
    left: 0px;
    top: 23px;
    
    z-index: -1;
        
    height: 8px;
    width: 100%;
    
    background-color: rgb(240, 197, 46);
}

.slide-more-info:hover {
    background-color: rgb(240, 197, 46);
}

.slide-more-info:active {
    color: rgba(0, 0, 0, 0.3);
}

.slide-item-spec {    
    width: 460px;
}


.slide-item-spec-name td{    
    font-family: "open_sanslight";
    font-size: 13px;
    line-height: 20px;
    
    padding: 0;
    margin: 0;
}

.main-container-slider .slide-item-spec-value{
    font-family: "gilroylight";
    font-size: 36px;
    line-height: 48px;
    
    padding: 0;
    margin: 0;
}

.main-container-slider .slide-item-spec-name{
    font-family: "open_sanslight";
    font-size: 20px;
    line-height: 10px;
    
    padding: 0;
    margin: 0;
}

#product-selfie:checked ~ ul .slider:nth-child(1) {
  display: flex;
}

#product-fitness-wristbands:checked ~ ul .slider:nth-child(2) {
  display: flex;
}

#product-quadrupter:checked ~ ul .slider:nth-child(3) {
  display: flex;
}

.slide-content a{
    display: inline-block;
}

/*--------СЛАЙД ПОПУЛЯРНЫЕ ТОВАРЫ----------*/

.popular {
    height: 240px;
    
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
}

.popular-block {
    margin-bottom: 35px;
    
    display: block;
    
    width: 160px;
    height: 160px;
    
    background-color: rgba(240, 197, 46, 0.5);
}

.popular li {
    width: 160px;
    height: 240px;
}

.popular p{
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    
    margin: 0;
    padding: 0;
}

.virtual-reality,
.monopods,
.cameras,
.wristbands,
.smart-watch,
.quadrupter {
    position: relative;
}

.virtual-reality::after{
    content: "";
    
    position: absolute;
    top: 50px;
    left: 30px;        
        
    width: 97px;
    height: 55px;
  
    background-image: url("../img/icons/vr-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
}

.monopods::after{
    content: "";
    
    position: absolute;
    top: 40px;
    left: 40px;        
        
    width: 86px;
    height: 117px;
  
    background-image: url("../img/icons/monopods-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cameras::after{
    content: "";
    
    position: absolute;
    top: 37px;
    left: 50px;        
        
    width: 71px;
    height: 87px;
  
    background-image: url("../img/icons/cameras-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.wristbands::after{
    content: "";
    
    position: absolute;
    top: 50px;
    left: 28px;        
        
    width: 107px;
    height: 65px;
  
    background-image: url("../img/icons/wrisbands-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.smart-watch::after{
    content: "";
    
    position: absolute;
    top: 32px;
    left: 55px;        
        
    width: 56px;
    height: 98px;
  
    background-image: url("../img/icons/smart-watch-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.quadrupter::after{
    content: "";
    
    position: absolute;
    top: 48px;
    left: 18px;        
        
    width: 132px;
    height: 69px;
  
    background-image: url("../img/icons/quadrupter-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.virtual-reality:hover,
.monopods:hover,
.cameras:hover,
.wristbands:hover,
.smart-watch:hover,
.quadrupter:hover{
    background-color: rgba(240, 197, 46, 1.0);
}

.virtual-reality:active {
    background-color: rgba(240, 197, 46, 0.3);
    
}

/*-------------СТИЛЬ ДЛЯ СЕРВИСЫ-----------*/

.services {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    background-color: rgb(229, 229, 229);
    
    margin-bottom: 100px;
    
    position: relative;
}


.services h3, 
.main-container-info h3{
    font-family: "gilroyextrabold";
    font-size: 47px;
    line-height: 48px;
    
    margin: 0;
    padding: 0;
}

.services h3 {
    position: relative;
    top: -25px;
    
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.services p{
    margin: 0;
    padding: 0;
}

.services-navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
    top: -15px;
    
    width: 280px;
    height: 190px;
    
    padding: 0;
    margin: 0;
    margin-bottom: 135px;
    margin-right: 120px;
}

.navigation-list {
    width: 440px;
    height: 175px;
    
    position: relative;
    
    margin: 0;
    padding: 0;
}

.services-navigation::after {
    content: "";
    
    position: absolute;
    left: 280px;
    top: -70px;
        
    width: 7px;
    height: 319px;
    
    background-color: rgb(0, 0, 0);
}

.services-delivery-info::after {
    
}

.services-wrapper {
    display: flex;
}

.services-navigation label{
    position: relative;
    
    cursor: pointer;
    
    z-index: 0;
    
    display: block;
    text-align: center;
    
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    
    width: 160px;
}

.services-navigation label::before {
    content: "";
    
    position: absolute;
    left: 0px;
    top: 15px;
    
    z-index: -1;
        
    height: 8px;
    width: 100%;
    
    background-color: rgb(240, 197, 46);
}

.services-navigation label:hover{
    background-color: rgb(240, 197, 46);
}

.navigation-list .navigation-item:nth-child(1)::after {
    content: "";
    
    position: absolute;
    top: -15px;
    left: 560px;        
        
    width: 136px;
    height: 164px;
  
    background-image: url("../img/icons/delivery-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.navigation-list .navigation-item:nth-child(2)::after {
    content: "";
    
    position: absolute;
    top: -35px;
    left: 550px;        
        
    width: 171px;
    height: 195px;
  
    background-image: url("../img/icons/warranty-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.navigation-list .navigation-item:nth-child(3)::after {
    content: "";
    
    position: absolute;
    top: -35px;
    left: 550px;        
        
    width: 156px;
    height: 188px;
  
    background-image: url("../img/icons/credit-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.navigation-item {
    display: none;
}

#delivery-info:checked ~ .navigation-list .navigation-item:nth-child(1) {
  display: block;
}

#warranty-info:checked ~ .navigation-list .navigation-item:nth-child(2) {
  display: block;
}

#credit-info:checked ~ .navigation-list .navigation-item:nth-child(3) {
  display: block;
}

#delivery-info:checked ~ .services-navigation .services-delivery::before,
#warranty-info:checked ~ .services-navigation .services-warranty::before,
#credit-info:checked ~ .services-navigation .services-credit::before {
    display: none;
}

#delivery-info:checked ~ .services-navigation .services-delivery {
    content: "";
    
    color: rgb(247, 225, 132);
    background-color: rgb(0, 0, 0);
    width: 100%;
    
    text-align: left;
   
    padding-left: 33px;
    
    box-sizing: border-box;
}

#warranty-info:checked ~ .services-navigation .services-warranty {
    content: "";
    
    color: rgb(247, 225, 132);
    background-color: rgb(0, 0, 0);
    width: 100%;
    
    text-align: left;
   
    padding-left: 38px;
    
    box-sizing: border-box;
}

#credit-info:checked ~ .services-navigation .services-credit {
    content: "";
    
    color: rgb(247, 225, 132);
    background-color: rgb(0, 0, 0);
    width: 100%;
    
    text-align: left;
   
    padding-left: 46px;
    
    box-sizing: border-box;
}


/*-------------БЛОК ПРОИЗВОДИТЕЛЕЙ-------------*/

.manufacturer {
    display: flex;
    justify-content: space-between;
    
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}

.manufacturer-item{
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.manufacturer-item:hover{
    opacity: 1;
    filter:none;
    
}

/*-------------БЛОК О НАС-------------*/

.main-container-info {
    display: flex;
    justify-content: space-between;
    
    position: relative;
    
    margin: 0;
    margin-bottom: 90px;
    padding: 0;
    padding-top: 50px;
}


.info-about_us {
    min-width: 500px;
    
    margin-right: 100px;
    
    box-sizing: border-box;
}

.info-about_us::before {
    content: "";
    
    position: absolute;
    
    top: 0px;
        
    width: 80px;
    height: 7px;
    
    background-color: rgb(0, 0, 0);
}


.info-about_us h3,
.info-contacts h3{
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.info-about_us p{
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
}

.info-contacts {
    position: relative;
}

.info-contacts h3{
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.info-contacts::before {
    content: "";
    
    position: absolute;
    
    top: -50px;
        
    width: 80px;
    height: 7px;
    
    background-color: rgb(0, 0, 0);
}

.info-contacts p{
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
}

.info-contacts img {
    margin-bottom: 80px;
}

.write_us p{
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    
    padding: 0;
    margin: 0;
}

.about-companys {
    width: 200px;
    height: 150px;
    
    font-family: "gilroyextrabold";
    font-size: 16px;
    line-height: 40px;
    
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-left: 35px;
    margin-bottom: 70px;
    box-sizing: border-box;
}

.del_lin {
    position: relative;
}

.del_lin::before {
    content: "";
    
    position: absolute;
    
    top: 6px;
    left: -25px;
    
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgb(230, 230, 230);
    background-color: transparent;
}

.ae5000 {
    position: relative;
}

.ae5000::before {
    content: "";
    
    position: absolute;
    
    top: 6px;
    left: -25px;
    
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgb(230, 230, 230);
    background-color: transparent;
}

.jde {
    position: relative;
}

.jde::before {
    content: "";
    
    position: absolute;
    
    top: 6px;
    left: -25px;
    
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgb(230, 230, 230);
    background-color: transparent;
}

.about_us-button,
.contacts-button{
    display: inline-block;
   
    box-sizing: border-box;
    
    position: relative;
    
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    
    text-transform: uppercase;
    
    margin: 0;
    padding: 0;
    padding: 8px 25px;
}

.about_us-button:hover,
.contacts-button:hover {
    background-color: rgb(240, 197, 46);
}

.about_us-button:active,
.contacts-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.about_us-button::before,
.contacts-button::before {
    content: "";
    
    position: absolute;
    left: 0px;
    top: 15px;
    
    z-index: -1;
        
    height: 8px;
    width: 100%;
    
    background-color: rgb(240, 197, 46);
}

.write_us-item input::placeholder {
    font-family: "open_sansregular";
    font-size: 14px;
    line-height: 18px;
}

.write_us-item textarea::placeholder {
    font-family: "open_sansregular";
    font-size: 14px;
    line-height: 18px;
}

/*-----------СТИЛЬ ДЛЯ ФУТЕРА----------------*/

.main-footer {
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-footer {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: rgb(255, 198, 0);
    
    margin: 0;
    margin-right: 520px;
    padding: 0;
}

.logo-footer:hover {
    opacity: 0.6;
}

.footer-userblock {
    display: flex;
    
    position: relative;

    margin-bottom: 35px;
}

.footer-links::before {
    content: "";
    
    position: absolute;
    
    width: 80px;
    height: 7px;
    
    background-color: rgb(255, 198, 0);
}

.footer-user-interaction {
    display: flex;
    justify-content: flex-end;
    
    width: 240px;
    
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 10px;
    
    box-sizing: border-box;
}

.footer-login-link {
    display: inline-block;
    position: relative;
    
    margin: 0;
    margin-right: 20px;
    padding: 0;
    box-sizing: border-box;
        
    color: rgba(255, 255, 255, 0.7);
}

.footer-logout-link {
    font-family: "open_sanslight";
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.3)
}

.footer-match {
    display: inline-block;
    position: relative;
    
    margin: 0;
    margin-right: 40px;
    padding: 0;
    padding-left: 25px;
    
    box-sizing: border-box;
    
    width: 90px;
    
    color: rgba(255, 255, 255, 0.7);
}

.footer-cart {
    display: inline-block;
    position: relative;
    
    margin: 0;
    padding: 0;
    padding-left: 20px;
    
    box-sizing: border-box;
    
    width: 85px;
    
    color: rgba(255, 255, 255, 0.7);
}

.footer-login-link::after {
    content: "";
    
    position: absolute;
    top: 9px;
    left: -20px;        
        
    width: 13px;
    height: 12px;
  
    background-image: url("../img/icons/user-icon-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-match::after {
    content: "";
    
    position: absolute;
    top: 10px;
    left: 0px;        
        
    width: 13px;
    height: 12px;
  
    background-image: url("../img/icons/compare-icon-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-cart::after {
    content: "";
    
    position: absolute;
    top: 10px;
    left: 0px;        
        
    width: 13px;
    height: 12px;
  
    background-image: url("../img/icons/cart-icon-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-login-link:hover,
.footer-match:hover,
.footer-cart:hover {
     color: rgb(255, 255, 255);
}

.footer-logout-link:hover {
    color: rgba(255, 255, 255, 0.5)
}

.footer-login-link:active,
.footer-match:active,
.footer-cart:active {
     opacity: 0.3;
}

.footer-logout-link:active {
    color: rgba(255, 255, 255, 0.1)
}

.footer-login:hover::after,
.footer-match:hover::after,
.footer-cart:hover::after{
     opacity: 0.6;
}

.footer-navigation {
    display: flex;
    align-items: center;
    
    margin-bottom: 65px;
    padding: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
    padding: 0;
    
    width: 440px;
}

.footer-wrapper a{
    color: rgb(255, 255, 255);
}

.footer-wrapper a:hover{
    opacity: 0.6;
}

.footer-wrapper a:active{
    opacity: 0.3;
}

.footer-navigation a{
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.social {
    width: 140px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    
    position: relative;
}

.facebook,
.instagram,
.twitter {
    display: inline-block;
    position: relative;
    
    width: 32px;
    height: 32px;
    
    opacity: 0.3;
}

.facebook::before {
    content: "";
    
    position: absolute;       
        
    width: 32px;
    height: 32px;
  
    background-image: url("../img/icons/facebook-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.instagram::before {
    content: "";
    
    position: absolute;      
        
    width: 32px;
    height: 32px;
  
    background-image: url("../img/icons/instagram-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.twitter::before {
    content: "";
    
    position: absolute;      
        
    width: 32px;
    height: 32px;
  
    background-image: url("../img/icons/twitter-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.facebook:hover,
.instagram:hover,
.twitter:hover {
    opacity: 0.6;
}

.facebook:active,
.instagram:active,
.twitter:active {
    opacity: 0.1;
}

.html-academy {
    position: absolute;
    
    left: 645px;
    bottom: 0;
        
    width: 27px;
    height: 35px;    
}

.html-academy:hover {
    opacity: 0.6;   
}

.html-academy:active {
    opacity: 0.3;   
}

.html-academy::after {
    content: "";
    
    position: absolute;  
            
    width: 27px;
    height: 35px;
  
    background-image: url("../img/icons/logo-html-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


/*-----------СТИЛЬ ДЛЯ КАТАЛОГА----------------*/

.breadcrumbs {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-left: 60px;
    padding-top: 30px;
}

.breadcrumbs-wrapper {    
    display: flex;
    justify-content: space-between;
    
    width: 385px;
    
    position: relative;
}

.breadcrumbs-wrapper::before {    
    content: "";
    
    position: absolute;
    top: 9px;
    left: 70px;
        
    width: 4px;
    height: 7px;
  
    background-image: url("../img/icons/nav-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs-wrapper::after {    
    content: "";
    
    position: absolute;
    top: 9px;
    left: 220px;
        
    width: 4px;
    height: 7px;
  
    background-image: url("../img/icons/nav-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs h1{
    font-family: "gilroyextrabold", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.01em;
    
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.breadcrumbs a {
    font-family: "open_sanslight", sans-serif;
    font-size: 14px;
    line-height: 24px;
    
    margin: 0;
    padding: 0;
    
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.main-container-wrapper {
    display: flex;
    
    padding-left: 40px;
    margin-bottom: 80px;
        
    background-color: rgb(255, 255, 255);
}


.main-container-wrapper legend{
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    
    margin: 0;
    padding: 0;
}

.main-container-wrapper label{
    font-family: "open_sansregular", sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.01em;
    
    margin: 0;
    padding: 0;
}

.main-container-search {
    width: 240px;
    
    margin: 0;
    padding: 0;
    padding-right: 50px;
    margin-right: 50px;
        
    background-color: rgba(0, 0, 0, 0.08);
}

.main-container-search h3 {
    display: inline-block;
    
    background-color: rgba(0, 0, 0, 0.08);
    background-blend-mode: normal;
           
    font-family: "gilroyextrabold", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    
    justify-content: center;
    height: 70px;
        
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 182px;
    margin-bottom: 70px;
    
    box-sizing: border-box;
}


.search-price {
    height: 140px;
    
    margin: 0;    
    padding: 0;
    padding-top: 10px;
    padding-left    : 20px;
    
    position: relative;
}

.search-price::before{
    content: "";
    
    position: absolute;
    top: 0px;
        
    width: 201px;
    height: 2px;
    
    background-color: rgb(0, 0, 0)
}

.search-price b {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    
    padding: 0;
    margin: 0;
}


.main-container-color {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 20px;
        
    height: 285px;
    
    border: none;
    box-sizing: border-box;
    
    position: relative;
}

.main-container-color legend,
.main-container-bluetooth legend {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 25px;
}

.main-container-color::before {
    content: "";
    
    position: absolute;
    top: 0px;
        
    width: 201px;
    height: 2px;
    
    background-color: rgb(0, 0, 0)
}

.main-container-color ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-container-color label, 
.main-container-bluetooth label {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    
    font-family: "open_sanslight", sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.01em;
}

.main-container-bluetooth {
    border: none;
    
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    padding-left: 20px;
    
    position: relative;
}

.main-container-bluetooth::before {
    content: "";
    
    position: absolute;
    top: 0px;
        
    width: 201px;
    height: 2px;
    
    background-color: rgb(0, 0, 0)
}

.main-container-bluetooth label {
    margin: 0;
    padding: 0; 
}



.filter-button {
    display: inline-block;
   
    box-sizing: border-box;
    
    position: relative;
    
    width: 200px;
    
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    
    z-index: 1;
    
    text-transform: uppercase;
    
    margin: 0;
    margin-left: 20px;
    padding: 0;
    padding: 8px 25px;
    
    background-color: inherit;
    border: none;
}

.filter-button::before {
    content: "";
    
    position: absolute;
    left: 0px;
    top: 16px;
    
    z-index: -1;
        
    height: 8px;
    width: 100%;
    
    background-color: rgb(240, 197, 46);
}

.filter-button:hover {
    background-color: rgb(240, 197, 46);
}

.filter-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-container-sorting-criterion {
    display: flex;
    justify-content: space-between;
    
    box-sizing: border-box;
    
    width: 290px;
    
    padding: 0;
    margin: 0;
    margin-right: 235px;
            
    font-family: "open_sansregular", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.main-container-sorting-criterion a{
    color: rgba(0, 0, 0, 0.3);
}

.main-container-sorting h3{
    display: inline-block;
        
    font-family: "gilroyextrabold", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    
    margin: 0;
    padding: 0;
    margin-right: 55px;
}

.main-container-sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 70px;
    
    background-color: rgba(0, 0, 0, 0.08);
    margin: 0;
    padding: 0;
    padding-left: 70px;
    margin-bottom: 60px;
    margin-left: -50px;
    box-sizing: border-box;
}

.up {
   position: relative;
   margin-right: 20px;
}

.down {
    position: relative;
}

.up::before {
    content: "";
    
    position: absolute;
            
    top: 5px;
    width: 11px;
    height: 10px;
  
    background-image: url("../img/icons/icon-up-dir-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.down::before {
    content: "";
    
    position: absolute;
    
    top: 5px;
    width: 11px;
    height: 10px;
  
    background-image: url("../img/icons/icon-down-dir-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-container-items-list {
    display: flex;
    flex-wrap: wrap;
    
    background-color: rgb(255, 255, 255);
}

.items-list {
    width: 360px;
    height: 480px;
    
    padding: 20px;
    
    position: relative;
}

.new-item {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 12px;
    padding-right: 12px;
    
    width: 60px;
    height: 60px;
    background-color: inherit;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    border: 1px solid;
    opacity: 0.3;
    box-sizing: border-box;
    
    position: absolute;
    top: 40px;
    right: 40px;
}

.items-list-info {
    display: flex;
}

.items-list-link h3 {    
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    
    width: 280px;
    
    margin: 0;
    padding: 0;
    padding-top: 35px;
}

.items-list-link b {
    font-family: "gilroylight", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: rgb(70, 70, 70);
    
    width: 80px;
    text-align: right;
    padding: 0;
    padding-top: 35px;
    margin: 0;
}

.items-user-interaction {
    display: none;

    position: absolute;
    
    top: 20px;
    left: 20px;
    
    width: 360px;
    height: 380px;
    
    background-color: rgba(238, 238, 238, 0.65);
}

.user-interaction-button {
    font-family: "gilroyextrabold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    box-sizing: border-box;
    
    position: relative;
    z-index: 1;
    
    width: 200px;
    height: 40px;
    
    font-family: "gilroyextrabold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;

    margin: 0;
    padding: 0; 
    padding: 8px 36px;
    
}

.user-interaction-button::before {
    content: "";
    
    position: absolute;
    left: 0px;
    top: 16px;
    
    z-index: -1;
        
    height: 8px;
    width: 100%;
    
    background-color: rgb(240, 197, 46);
}

.user-interaction-button:hover {
    background-color: rgb(240, 197, 46);
}

.user-interaction-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-interaction-match {
    padding: 0;
    margin: 0;
    
    font-family: "open_sanslight";
    font-size: 13px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
}

.user-interaction-match:hover {
    color: rgba(0, 0, 0, 1.0);
}

.user-interaction-match:active {
    color: rgba(0, 0, 0, 0.2);
}


.items-list:hover .items-user-interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.pagination {    
    display: flex;
    flex-direction: row;
        
    width: 760px;
    height: 70px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
        
    box-sizing: border-box;
    
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination button {
    border: none;
    background-color: transparent;
    
    font-family: "gilroyextrabold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    
    width: auto;
}

.pagination button:hover {
    background-color: rgba(0, 0, 0, 0.08);
    background-blend-mode: normal;
}

.pagination button:active {
    color: rgba(0, 0, 0, 0.3)
}

.pages {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
    padding: 0;
    
    font-family: "gilroyextrabold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
}

.filter-option-color label{
    position: relative;
}

.filter-option-color-black::after,
.filter-option-color-white::after,
.filter-option-color-blue::after,
.filter-option-color-red::after,
.filter-option-color-pink::after {
    content: "";
  
    position: absolute;
    top: 0px;
    left: 0px;
    
    height: 25px;
    width: 30px;
    
    background-image: url("../img/icons/checkbox-off-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-option-color-black:hover::after,
.filter-option-color-white:hover::after,
.filter-option-color-blue:hover::after,
.filter-option-color-red:hover::after,
.filter-option-color-pink:hover::after {
    opacity: 0.6;
}

#color-black:checked ~ .filter-option-color-black:hover::after,
#color-white:checked ~ .filter-option-color-white:hover::after,
#color-blue:checked ~ .filter-option-color-blue:hover::after,
#color-red:checked ~ .filter-option-color-red:hover::after,
#color-pink:checked ~ .filter-option-color-pink:hover::after{
    opacity: 0.6;
}

#color-black:checked ~ .filter-option-color-black::after,
#color-white:checked ~ .filter-option-color-white::after,
#color-blue:checked ~ .filter-option-color-blue::after,
#color-red:checked ~ .filter-option-color-red::after,
#color-pink:checked ~ .filter-option-color-pink::after{
    background-image: url("../img/icons/checkbox-on-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-option-bluetooth label {
    position: relative;
}

.filter-option-bluetooth-yes::after,
.filter-option-bluetooth-no::after{
    content: "";
  
    position: absolute;
    top: -3px;
    left: -35px;
    
    height: 25px;
    width: 25px;
        
    background-image: url("../img/icons/radio-off-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-option-bluetooth-yes:hover::after,
.filter-option-bluetooth-no:hover::after {
    opacity: 0.6;
}

#bluetooth-yes:checked ~ .filter-option-bluetooth-yes::after,
#bluetooth-no:checked ~ .filter-option-bluetooth-no::after{
    background-image: url("../img/icons/radio-on-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

#bluetooth-yes:checked ~ .filter-option-bluetooth-yes:hover::after,
#bluetooth-no:checked ~ .filter-option-bluetooth-no:hover::after{
    opacity: 0.6;
}